In [ ]:
#1
year=int(input("enter the year :"))
items=["monkey","roaster","dog","pig","rat","ox","tiger","rabbit","dragon","snake","horse","sheep"]
value=items[year%12]
print(value)

enter the year :2002
horse

In [ ]:
#2
d=int(input("enter distance"))
w=int(input("enter weight"))
if d>=500 :
  if w>=100 :
    value=5*d
  elif w>=10 and w<100 :
    value=6*d
  else:
    value=7*d
else:
  if w>=100:
    value=8*d
  else:
    value=9*d
  print(value)

enter distance10
enter weight5
90

In [ ]:
#3
print("seats available: stalls,circles,upper class,box")
s=input("enter seat")
if s=='stalls' :
  a=625
elif s=='circles' :
    a=750
elif s=='upper class' :
      a=850
elif s=='box' :
        a=1000
print("payment mode: cash card")
p= input("enter mode")
if p=='card' :
          a=a-a*(10/100)
          print(a)
else :
          a=a-a*(1/20)
          print(a)

seats available: stalls,circles,upper class,box
enter seatbox
payment mode: cash card
enter modecard
900.0

In [ ]:
#4
weight=int(input("enter weight of water in kg's"))
inital=int(input("enter initial temp"))
final=int(input("enter final temp"))
v=(weight)*(final-inital)*4184
print(v)

enter weight of water in kg's200
enter initial temp55
enter final temp90
29288000

In [ ]:
#5
m=input("enter the month")
if (m=='december' or m=='january' or m=='february') :
  print("winter")
elif (m== 'march' or m=='april' or  m=='may') :
  print("spring")
elif (m== 'june' or m=='july' or  m=='august') :
  print("summer")
else :
  print("autumn")

enter the monthjune
summer

In [ ]:
#6
w=int(input("enter weight"))
h=int(input("enter height"))
v=(w*0.45359237)/(h*0.0254)**2
if v<18.5 :
  print("under weight")
elif 25.0<=v<30.0 :
  print("over weight")
else :
  print("obese")

enter weight55
enter height152
under weight

In [ ]:
#7
i=int(input("enter the elements b/w 100 to 1000"))
sum=0
while i>0:
  n=i%10
  sum=sum+n
  i=int(i/10)
print(sum)

enter the elements b/w 100 to 1000825
15

In [ ]:
#8
for i in range(1,1001):
  sum=0
  p=i
  while i>0 :
    n=i%10
    sum=sum*10+n
    i=i//10
    if p==sum :
      print(p,end=" ")

1 2 3 4 5 6 7 8 9 11 22 33 44 55 66 77 88 99 101 111 121 131 141 151 161 171 181 191 202 212 222 232 242 252 262 272 282 292 303 313 323 333 343 353 363 373 383 393 404 414 424 434 444 454 464 474 484 494 505 515 525 535 545 555 565 575 585 595 606 616 626 636 646 656 666 676 686 696 707 717 727 737 747 757 767 777 787 797 808 818 828 838 848 858 868 878 888 898 909 919 929 939 949 959 969 979 989 999

In [ ]:
#9
for i in range(1,1001) :
  sum=0
  t=i
  while i>0:
    n=i%10
    sum+=n*n*n
    i=i//10
  if sum==t:
      print(t,end=" ")

1 153 370 371 407

In [ ]:
#10
for i in range(1,101):
  if i%3==0 and i%5==0 :
    print("fizz buzz")
  elif i % 3==0 :
    print("fizz")
  elif i % 5==0 :
    print("Buzz")
  else :
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz buzz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizz buzz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizz buzz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizz buzz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizz buzz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizz buzz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [ ]:
#11
H= int(input("enter the height of well="))
U= int(input("enter the meters which are climbed="))
D= int(input("enter slips down="))
s=((H-U)+(U-D))//(U-D)
print(s+1)

enter the height of well=100
enter the meters which are climbed=50
enter slips down=1
3