In [4]:
#1
l1=int(input("enter first length"))
l2=int(input("enter second length"))
l3=int(input("enter third length"))
s=(l1+l2+l3)/2
a=(s*(s-l1)*(s-l2)*(s-l3))**0.5
print(a)

enter first length6
enter second length9
enter third length8
23.525252389719434

In [7]:
#2
string=input("enter string")
if (string==string[::-1]) :
  print("given string is palindrome")
else :
  print("not a palindrome")

enter stringmadam
given string is palindrome

In [8]:
#3
year=int(input("enter year:"))
if (year%4==0) :
  print ("{} is a leap year".format(year))
else :
  print("{} is not a leap year".format(year))

enter year:2020
2020 is a leap year

In [11]:
#4
string1=input("enter the string")
print(string1)
string2=string1.replace(' ','-')
print(string2)

enter the stringthis program converts spaces to hyphen
this program converts spaces to hyphen
this-program-converts-spaces-to-hyphen

In [15]:
#5
colours=input("enter the names of colours :").split(',')
items=[x for x in colours]
items.sort()
print("sorted data" ,','.join(items))

enter the names of colours :orange,white,red,cyan,green,magenta,cyan,pink,white
sorted data cyan,cyan,green,magenta,orange,pink,red,white,white

In [18]:
#6
s=int(input("enter salary"))
if s<=250000 :
  print("no tax")
elif s>250000 and s<=500000 :
  tax=s*(5/100)
  print("the tax is",tax)
elif s>500000 and s<=750000 :
  tax=s*(10/100)
  print("the tax is",tax)
elif s>750000 and s<=1000000 :
  tax=s*(15/100)
  print("the tax is",tax)
elif s>1000000 and s<=1250000 :
  tax=s*(20/100)
  print("the tax is",tax)
elif s>1250000 and s<=1500000 :
  tax=s*(25/100)
  print("the tax is",tax)
elif s>1500000 :
  tax=s*(30/100)
  print("the tax is",tax)

enter salary1550000
the tax is 465000.0

In [19]:
#7
list = [11,33,50]
for i in list :
  print(i,end="")

113350

In [23]:
#8
days=int(input("enter no of days:"))
hours=int(input("enter hours :"))
mins=int(input("enter minutes :"))
secs=int(input("enter seconds:"))
total=days*24*60*60+hours*60*60+mins*60+s
print(total)

enter no of days:1
enter hours :24
enter minutes :60
enter seconds:60
1726400

In [24]:
#9
a=int(input("enter first integer"))
b=int(input("enter second integer"))
c=int(input("enter third integer"))
ma=max(a,b,c)
mi=min(a,b,c)
v=a+b+c-ma-mi
print(ma,mi,v)

enter first integer6
enter second integer8
enter third integer10
10 6 8

In [28]:
#10
d=input("enter the date")
s=d.split('-')
r=int(s[2])+1
s[2]=str(r)
print(f"{s[0]+'-'+s[1]+'-'+s[2]}")

enter the date2020-7-7
2020-7-8

In [32]:
#11
list=[45,3,2,89,72,1,10,7]
product=1
for i in list :
  product*=i
print(f"product is {product}")

product is 121111200

In [34]:
#12
num_list=[5,6,8,34,89,1]
y=[]
x=0
for i in num_list :
  x+=1
  if x<len(num_list) :
    y.append(i+num_list[x])
print(y)

[11, 14, 42, 123, 90]

In [37]:
#13
num_tuple=(5,6,8,3,9,1)
product=1
list=[]
for i in num_tuple :
  product=product*i
  list.append(product)
print(list)

[5, 30, 240, 720, 6480, 6480]

In [40]:
#14
n=int(input("enter a number:"))
list=[]
for i in str(n) :
  list.append(int(i))
print(list)

enter a number:586392
[5, 8, 6, 3, 9, 2]

In [48]:
#16
x=input("eneter binary num of length of 10")
y= input("enter binary num of length of 5")
if y[:] in x[:] :
  print (1)
else :
  print(0)

eneter binary num of length of 101010101010
enter binary num of length of 510101
1