In [2]:
#1
print(0.1+0.2)
print("1.8"+"2")
print(87>78)
print((0.1+0.2)==0.3)
print("predict " "output" ,"....")

0.30000000000000004
1.82
True
False
predict output ....

In [3]:
#2
print("prints","multiple ","messages\n")
print("concatenate "+" two strings\n")
print(5+6+"adda two numbers\n")

prints multiple  messages

concatenate  two strings

TypeError: ignored

In [5]:
#3
print("ba"+"na"*2)
print("C:\\naresh\\raju\\abhi")

banana
C:\naresh\raju\abhi

In [6]:
#4
'Welcome to python traning program'[-4:-33:-4]

'g n tome'

In [8]:
#5
print( 'A series of characters designated as one object known as a string'[::-1][4::3] )
print("-----------")
print( 'Welcome to python traning program'[3:10][::-1] )

taawkcbe  tgestrcoeeA
-----------
ot emoc

In [9]:
# 6a
str1=True
x= 5 > 3
print(str1==x)
y= 5 > 8
print(str1==y)

True
False

In [10]:
#6b
num=7
Name = "Micheal Jackson"
sear_num = Name.find('el')
print(num > sear_num )

True

In [11]:
#7
p_phrase="was it a car or a cat I saw".upper()
p_phrase[::-1]

'WAS I TAC A RO RAC A TI SAW'

In [12]:
#8
A="1934567"
out=A[1:7:2]
print(out)

946

In [13]:
#9
fake_phrase = "Fake news has a knack for spreading like wildfire".upper()
out=fake_phrase[-9:14:-1]
out.split()

['EKIL', 'GNIDAERPS', 'ROF', 'KCANK']

In [18]:
#10
msg1="facebook already uses AI to filter fake stories from the feeds"
out=msg1.split()
print(out)

['facebook', 'already', 'uses', 'AI', 'to', 'filter', 'fake', 'stories', 'from', 'the', 'feeds']

In [19]:
#11
msg2="Welcome to sr engineering college"
x=msg2.count("o")
y=msg2.count("r")
msg2[y**x:(x**y+x+y):][::-1]

' rs ot'

In [21]:
#12
num1,num2="94","30"
data="As per census 2011, Gender ratio of india is 943 females per 1000 males"
num1+num2[0] in data

True

In [22]:
#12
print(data[:45],print(int(num1)+int(num2)))

124
As per census 2011, Gender ratio of india is  None

In [24]:
#13
M=int(input("enter water in kilograms"))
i=int(input("enter initial temp"))
f=int (input("enter final temp"))
Q=M*(f-i)*4184
print(Q)

enter water in kilograms10
enter initial temp90
enter final temp100
418400

In [26]:
#14
x=int(input ("enter x value"))
y=2*x
z=("z"*x)+("o"*y)
print(z)

enter x value5
zzzzzoooooooooo

In [27]:
#15
x=int(input("enter the value"))
y=int(input("enter the power"))
pow=(x**y)
print(pow)
div=int(pow/(x*y))
print(div)
print(div^(x+y))

enter the value5
enter the power2
25
2
5